root = true
[*]
indent_size = 2
charset = utf-8
end_of_line = lf

[*.{c,h,cpp,hpp,cc,hh,hxx,cxx,json,md,mdx,js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

[*.{md,mdx}]
trim_trailing_whitespace = false