@mixin generateNthHeading($n, $scale) {
	>h#{$n} {
		font-size: calc(var(--ifm-h#{$n}-font-size) * $scale);
		margin-top: calc( var(--ifm-heading-vertical-rhythm-top) * var(--ifm-leading) * $scale);
		margin-bottom: calc( var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading) * $scale);
	}
}

@mixin generateHeadings($scale) {
	@for $i from 1 to 6 {
		@include generateNthHeading($i, $scale); 
	}
}

@mixin generateSizeMode($id, $headingScale, $textScale, $codeScale: $textScale)
{
	.sizeMode-#{$id} :global(.theme-doc-markdown) {
		@include generateHeadings($headingScale);

		>ul, >ol {
			font-size: calc($textScale * 100%);
			margin-bottom: calc( var(--ifm-list-margin) * $textScale );
		}
		>p, >span {
			font-size: calc($textScale * 100%);
			margin-bottom: calc( var(--ifm-paragraph-margin-bottom) * $textScale );
		}

		>table {
			font-size: calc($textScale * 100%);
		}


		>details[data-collapsed] {
			font-size: calc($textScale * 100%);
			padding: calc(var(--ifm-alert-padding-vertical) * $textScale) calc(var(--ifm-alert-padding-horizontal) * $textScale);
		}

		:global(.tabs__item) {
			padding: calc(var(--ifm-tabs-padding-vertical) * $textScale) calc(var(--ifm-tabs-padding-horizontal) * $textScale);
		}

		>:global(.tabs-container) {
			font-size: calc($textScale * 100%);
		}

		>:global(.theme-admonition) {
			font-size: calc($textScale * 100%);
			&>div:first-child {
				font-size: calc(var(--ifm-h4-font-size) * $textScale);
			}
		}

		// Special case for empty lines in lists
		li>p {
			font-size: 100%;
			margin-bottom: 0;
		}

		pre {
			font-size: calc(16px * $codeScale);

			// Use only 1/3 of the line height difference
			// It shouldn't be affected as much for better readability
			line-height: calc(
				var(--ifm-pre-line-height) -
				var(--ifm-pre-line-height) * (1.0 - $codeScale) / 3.0
			);
		}
	}
}

@include generateSizeMode(1, 0.5, 0.7);
@include generateSizeMode(2, 0.65, 0.75);
@include generateSizeMode(3, 0.75, 0.8);
@include generateSizeMode(4, 0.9, 0.9);
@include generateSizeMode(5, 1.0, 1.0);
