/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

$bgcDarkMode: rgb(15, 15, 15);
$bgcLightMode: rgb(250, 250, 250);

.bgImage {
	z-index: -1;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	filter: blur(4px);
	>img {
		height: 100%;
		width: auto;
		display: block;
	}
}

html:not([class*="docs-version-"]):not([class*="plugin-blog"]):not([class*="plugin-docs"]) {
	background-image: linear-gradient(to right top, rgb(19, 1, 53), #004d7a, #044aa5, #603aca, #002e53);
	background-size: 100% 100%;
	background-attachment: fixed;

	:global(.navbar) {
		background-color: rgba(white, 0.9);
	}

	&[data-theme="dark"] :global(.navbar) {
		background-color: rgba(black, 0.6);
	}
}

:global(.main-wrapper.docs-doc-page) {
}

:global(pre) {
	tab-size: 4;
	font-family: "Jetbrains Mono", "Consolas", monospace;
	font-variant-ligatures: none;
}

@keyframes waveSlideUpOnLoad {
	0% {
		height: 70vh;
	}
	30% {
		height: 70vh;
	}
	100% {
		height: max(400px, 55vh);
	}
}

@media screen and (orientation: landscape) and (min-height: 720px) {
	.heroBanner {
		animation: 0.5s ease-in-out 0s 1 waveSlideUpOnLoad;
	}
}

.heroBanner {
	padding: 		4em 0;
	text-align: 	center;
	position: 		relative;
	overflow: 		hidden;
	height:			max(400px, 55vh);

	transition: 0.01s;

	.textPart {
		box-sizing: border-box;
		// padding: 40px 10px;
	}

	.title {
		margin-top: 50px;
		margin-bottom: 10px;
		font-size: 8em;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: bold;
		color: white;
		line-height: 100%;
	}
	.subtitle {
		font-size: 180%;
		color: white;
	}
	.subtitleMessages {
		font-size: 140%;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 50px;
		padding: 0 20px;
		padding-bottom: 2px;
		color: white;
	}

	.container {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		width: 70%;
		// align-items: center;
		&>* {
			box-sizing: border-box;
		}
	}

	// .interactiveEditor {
	// 	// visibility: hidden;
	// 	text-align: left;
	// 	padding: 10px 20px;
	// 	// min-height: 600px;
	// 	background-color: rgba(white, 0.8);
		
	// 	>iframe {
	// 		width: 100%;	
	// 		height: 100%;	
	// 	}
	// 	:global(.prism-code) {
	// 		min-height: 400px;
	// 		max-height: 400px;
	// 		overflow: auto;
	// 		font-size: 0.9em;
	// 	}
	// 	border: 1px solid rgba(gray, 0.2);
	// 	border-radius: 5px;
	// 	// box-shadow: 2px 2px 2px 2px gray;
	// }
}

@media screen and (max-width: 1600px)
{

.heroBanner .container {
	width: 80%;
}

}
	

@media screen and (max-width: 1400px) {

.heroBanner .container {
	width: 90%;
	grid-gap: 1em;
}

}

@media screen and (max-width: 966px) {

.heroBanner {
	
	padding: 2em;

	.container {
		width: 100%;
		grid-template-columns: 1fr;
		grid-gap: 1em;
	}
}

.bgImage {
	display: none;
}

}

@media screen and (max-width: 650px) {

.heroBanner {
	padding: 2em;

	.interactiveEditor {
		display: none;
	}

}

}

.callToAction {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	// background-color: rgba(0, 0, 0, 0.2);


	// width: 0%;
	margin: 0 auto;
	margin-top: 20px;

	>* {
		flex-basis: 100%;
	}
}


.btnGrad {background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%)}
.btnGrad {
	margin: 10px;
	padding: 20px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white !important;
	box-shadow: 0 0 20px aqua;
	border-radius: 50px;
	border: 0;
	display: block;
}

.btnGrad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

html[data-theme="dark"]
{

.heroBanner {

	.textPart {
	}

	.interactiveEditor {
		background-color: rgba(black, 0.6);
	}
}

.wavesParallax>use:nth-child(1) {
	fill: rgba(0, 0, 0, 0.7);
}

.wavesParallax>use:nth-child(2) {
	fill: rgba(0, 0, 0, 0.5);
}

.wavesParallax>use:nth-child(3) {
	fill: rgba(0, 0, 0, 0.3);
}

.wavesParallax>use:nth-child(4) {
	fill: black;
}


}

.waves {
	position:relative;
	width: 100%;
	height:15vh;
	margin-bottom:-7px; /*Fix for safari gap*/
	min-height:100px;
	max-height:150px;
}

/* Animation */

.wavesParallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.wavesParallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
	fill: rgba(white, 0.7);
}

.wavesParallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
	fill: rgba(white, 0.5);
}

.wavesParallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
	fill: rgba(white, 0.3);
}

.wavesParallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
	fill: white;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}

	.content {
		height: 30vh;
	}

	h1 {
		font-size: 24px;
	}
}