/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

$bgcDarkMode: rgb(15, 15, 15);
$bgcLightMode: rgb(250, 250, 250);

.bgImage {
	z-index: -1;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	filter: blur(4px);
	>img {
		height: 100%;
		width: auto;
		display: block;
	}
}

:global(#fullpage-background-container) {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: -1;
}

:global(#fullpage-background) {
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(10%2c 30%2c 91%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c673 C 96%2c615.8 288%2c386 480%2c387 C 672%2c388 768%2c735 960%2c678 C 1152%2c621 1248%2c119.4 1440%2c102 C 1632%2c84.6 1824%2c493.2 1920%2c591L1920 1080L0 1080z' fill='rgba(19%2c 66%2c 181%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c412 C 128%2c453.8 384%2c603.2 640%2c621 C 896%2c638.8 1024%2c446.2 1280%2c501 C 1536%2c555.8 1792%2c816.2 1920%2c895L1920 1080L0 1080z' fill='rgba(48%2c 137%2c 233%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	:global(.navbar) {
		background-color: rgba(white, 0.9);
	}

	&[data-theme="dark"] :global(.navbar) {
		background-color: rgba(black, 0.6);
	}

}
html {
	&[class*="docs-version-"], &[class*="plugin-blog"], &[class*="plugin-docs"] {
		:global(.main-wrapper), :global(.navbar):not([class*="navbar-sidebar--show"]) {
			background-color: $bgcLightMode;
		}
	}
}

html[data-theme="dark"] {
	&[class*="docs-version-"], &[class*="plugin-blog"], &[class*="plugin-docs"] {
		:global(.main-wrapper), :global(.navbar):not([class*="navbar-sidebar--show"]) {
			background-color: rgba(22,22,22,0.92);
			backdrop-filter: contrast(150%) blur(8px);
		}
	}
}


:global(.main-wrapper.docs-doc-page) {
}

:global(pre) {
	tab-size: 4;
	font-family: "Jetbrains Mono", "Consolas", monospace;
	font-variant-ligatures: none;
}

@keyframes bringHeroBannerIn {
	0% {
		transform: scale(0.9) translate(5px, 10px);
	}
	to {
		transform: scale(1.0);
	}
}


@keyframes animateBackground {
	0% {
		transform: scale(100%, 100%);
	}
	10% {
		transform: scale(120%, 120%);
	}
	25% {
		transform: translate(-150px, -100px) scale(120%, 120%);
	}
	50% {
		transform: translate(50px, -30px) scale(120%, 120%);
	}
	75% {
		transform: translate(100px, -100px) scale(120%, 120%);
	}
	90% {
		transform: scale(120%, 120%);
	}
	100% {
		transform: scale(100%, 100%);
	}
}



@media screen and (orientation: landscape) and (min-height: 720px) {
	.heroBanner .textPart {
		animation: 0.6s ease-in-out 0s 1 bringHeroBannerIn;
	}
}

@media screen and (orientation: landscape) and (min-height: 720px) {
	html:not([class*="docs-version-"]):not([class*="plugin-blog"]):not([class*="plugin-docs"]) :global(#fullpage-background) {
		animation: 120s ease-in-out 0s infinite animateBackground;
	}
}

.glassPanel {
	align-self: center;
	min-width: 150px;
	min-height: 100px;

	border-radius: 32px;
	border-bottom: 6px solid rgba(200, 200, 200, 0.2);
	border-right: 3px solid rgba(200, 200, 200, 0.2);
	box-shadow: 12px 15px 20px 10px rgba(12, 24, 29, 0.6);
	backdrop-filter: contrast(120%) opacity(98%) blur(10px);
	background: radial-gradient(circle, rgba(121, 13, 89, 0.6) 30%, rgba(180, 21, 127, 0.5) 100%);
	padding: 60px 65px;
}

.heroBanner {
	padding: 		0em 0 0em 0;
	text-align: 	center;
	position: 		relative;
	overflow: 		hidden;
	transition: 0.01s;


	.textPart {
		box-sizing: border-box;
		// padding: 40px 10px;

		// border: 1px solid rgba(168, 217, 236, 0.6);
		border-radius: 32px;
		// border-bottom: 6px solid rgba(200, 200, 200, 0.2);
		// border-right: 3px solid rgba(200, 200, 200, 0.2);
		// box-shadow: 12px 15px 20px 15px rgba(12, 24, 29, 0.6);
		// backdrop-filter: contrast(120%) opacity(98%) blur(10px);
		// background: radial-gradient(circle, rgba(13, 60, 121, 0.5) 30%, rgba(24, 157, 190, 0.3) 100%);
		// box-shadow: 2px 5px 40px 3px rgba(12, 24, 29, 0.4);
		// backdrop-filter: contrast(120%) opacity(98%) blur(6px);
		padding: 40px 65px;
	}

	.title {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 8em;
		font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		letter-spacing: 10px;
		font-weight: bold;
		color: white;
		line-height: 100%;
		text-shadow: 3px 3px 10px black;
	}
	.subtitle {
		text-shadow: 3px 3px 10px black;
		font-size: 180%;
		color: white;
	}
	.subtitleMessages {
		font-size: 140%;
		background-color: rgba(22, 22, 22, 0.6);
		border-radius: 15px;
		padding: 0 20px;
		padding-bottom: 2px;
		color: white;
	}

	.container {
		margin: 0 auto;
		display: flex;
		justify-content: space-evenly;
		width: 80%;
		// align-items: center;
		&>* {
			box-sizing: border-box;
		}
	}

	// .interactiveEditor {
	// 	// visibility: hidden;
	// 	text-align: left;
	// 	padding: 10px 20px;
	// 	// min-height: 600px;
	// 	background-color: rgba(white, 0.8);
		
	// 	>iframe {
	// 		width: 100%;	
	// 		height: 100%;	
	// 	}
	// 	:global(.prism-code) {
	// 		min-height: 400px;
	// 		max-height: 400px;
	// 		overflow: auto;
	// 		font-size: 0.9em;
	// 	}
	// 	border: 1px solid rgba(gray, 0.2);
	// 	border-radius: 5px;
	// 	// box-shadow: 2px 2px 2px 2px gray;
	// }
}

@media screen and (max-width: 1600px)
{

.heroBanner .container {
	width: 80%;
}

}
	

@media screen and (max-width: 1400px) {

.heroBanner .container {
	width: 90%;
	grid-gap: 1em;
}

}

@media screen and (max-width: 966px) {

.heroBanner {
	
	padding: 2em;

	.container {
		width: 100%;
		grid-template-columns: 1fr;
		grid-gap: 1em;
	}
}

.bgImage {
	display: none;
}

}

@media screen and (max-width: 650px) {

.heroBanner {
	padding: 2em;

	.interactiveEditor {
		display: none;
	}

}

}

.callToAction {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	// background-color: rgba(0, 0, 0, 0.2);


	// width: 0%;
	margin: 0 auto;
	margin-top: 20px;

	>* {
		flex-basis: 100%;
	}
}


.btnGrad {background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%)}
.btnGrad {
	margin: 10px;
	padding: 20px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white !important;
	box-shadow: 0 0 20px aqua;
	border-radius: 50px;
	border: 0;
	display: block;
}

.btnGrad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

html[data-theme="dark"]
{

.heroBanner {

	.textPart {
	}

	.interactiveEditor {
		background-color: rgba(black, 0.6);
	}
}

.wavesParallax>use:nth-child(1) {
	fill: rgba(0, 0, 0, 0.7);
}

.wavesParallax>use:nth-child(2) {
	fill: rgba(0, 0, 0, 0.5);
}

.wavesParallax>use:nth-child(3) {
	fill: rgba(0, 0, 0, 0.3);
}

.wavesParallax>use:nth-child(4) {
	fill: rgba(0,0,0,0.4);
}


}

.waves {
	position:relative;
	width: 100%;
	height:15vh;
	margin-bottom:-10px; /*Fix for safari gap*/
	min-height:50px;
	max-height:75px;
}

/* Animation */

.wavesParallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.wavesParallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: calc(7s * 3.0);
	fill: rgba(white, 0.7);
}

.wavesParallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: calc(10s * 3.0);
	fill: rgba(white, 0.5);
}

.wavesParallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: calc(13s * 3.0);
	fill: rgba(white, 0.3);
}

.wavesParallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: calc(20s * 3.0);
	fill: white;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}

	.content {
		height: 30vh;
	}

	h1 {
		font-size: 24px;
	}
}