.features {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	// border-top: 1px solid gray;
	background-color: white;
	margin-top: -5px;
}

.featuresContainer {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	top: -5px;
}

$iconSize: 60px;
.pageCardSvg>img {
	height:	$iconSize;
	width:	$iconSize;
}

////////////////////////
// White mode
////////////////////////

.pageCard
{

	cursor: pointer;
	padding: 20px 0 !important;
	min-width: calc(min(250px,25vw));
	
	.pageCardSvg {
		text-align: center;
		margin-bottom: 10px;
	}

	&:not(:hover) .pageCardSvg {
		.normalIcon {
			display: inline;
		}
		.hoverIcon {
			display: none;
		}
	}

	&:hover .pageCardSvg {
		.normalIcon {
			display: none;
		}
		.hoverIcon {
			display: inline;
		}
	}
	
	.pageCardText {
		text-align: center;
		color: black;
		font-family: var(--font-inter);
		font-weight: normal;
	}

	border-bottom: 2px solid transparent;
	box-sizing: border-box;
	&:hover {
		border-bottom: 2px solid rgb(0, 204, 255);
		text-decoration: none;

		.pageCardSvg {
			filter: brightness(1.2) saturate(1.5);
		}
	}
}

@media (max-width: 900px) {
.featuresContainer {
	flex-wrap: wrap;
}
.pageCard {
	min-width: 0;
	width: 50%;
}

}

@media (max-width: 600px) {

.pageCard {
	min-width: 0;
	width: 100%;
}

}

////////////////////////
// Dark mode
////////////////////////
html[data-theme='dark']
{

.features {
	background-color: black;
}

.pageCard {
	.pageCardText {
		color: white;
	}
}

.pageCardSvg {
	filter: none;
}

.overview {
	background: none;
	background-color: rgba(black, 0.80);
	border-top: none;
	&:nth-child(3) {
		border-top: none;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,1) 24%, rgba(0,0,0,0.896) 61%, rgba(0,0,0, 0.8) 92%);
	}
	&:nth-child(even) {
		background: none;
		background-color: rgba(black, 0.1);
	}
}

}

.overview {
	background: linear-gradient(180deg, rgb(243, 243, 243) 10%, white 30%);
	background-color: rgb(243, 243, 243);
	border-top: 1px solid gray;
	&:nth-child(3) {
		border-top: none;
		background: linear-gradient(180deg, rgba(white,1) 24%, rgb(250, 250, 250) 61%, white 92%);
	}

	display: flex;
	align-items: center;
	min-height: 600px;
 	background-color: rgb(245, 245, 245);
	p, h1, h2, h3 { font-family: var(--font-inter); }
	figure {
		display: flex;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		max-height: 350px;
		width: 45%;
		align-items: center;
	}
	img, video {
		display: block;
		width: 100%;
		height: auto;
	}
	.actionButton {
		display: inline-block;
		color: white;
		text-decoration: none;
		margin-top: 10px;
		padding: 15px 30px;
		border: none;
		border-bottom: 3px solid blue;
		border-radius: 2px;
		box-sizing: border-box;
		background-color: rgb(0, 119, 255);
		transition: 0.2s;
		&:hover {
			background-color: rgb(52, 133, 255);
		}
	}
}

@media (min-width: 901px) {

.overview:nth-child(even) {
	.overviewContent {
		h1 { text-align: right; }
	}
	.overviewContainer {
		flex-direction: row-reverse;
	}
}

}

.overviewContainer {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	width: 60%;
	margin: 0 auto;
	box-sizing: border-box;
}

.overviewContent {
	width: 45%;
	padding: 10px 0;
	min-height: 350px;
}

@media (max-width: 1300px) {
	.overviewContainer {
		width: 85%;
	}
}


@media (max-width: 900px) {
	.overviewContainer {
		width: 95%;
	}
}

@media (max-width: 900px) {
	.overviewContainer {
		flex-direction: column-reverse;
		align-items: center;
		flex-wrap: wrap;

		>* {
			width: 100%;
		}

		figure {
			width: 80%;
			margin-bottom: 20px;
		}

		h1, p {
			text-align: center;
		}
		.actionButton {
			margin: 0 auto;
		}
	}
	.overviewContent {
		min-height: unset;
	}
}

// .headline {
// 	padding: 80px 0;
// 	text-align: center;
// 	font-size: 2.5em;
// 	color: white;
// 	text-transform: uppercase;
// }

