.features {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.featuresContainer {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}

$iconSize: 80px;
.featureSvg {
	height:	$iconSize;
	width:	$iconSize;
	filter: brightness(40%);
}

////////////////////////
// White mode
////////////////////////

.pageCard
{

	cursor: pointer;
	padding: 20px 0 !important;
	
	.pageCardSvg {
		text-align: center;
		margin-bottom: 10px;
		padding: 0 120px;
	}
	
	.pageCardText {
		text-align: center;
		color: black;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
		text-decoration: none;

		.pageCardText {
			color: var(--ifm-color-primary-darkest);
		}
	}
}

////////////////////////
// Dark mode
////////////////////////
html[data-theme='dark']
{


.pageCard {
	.pageCardText {
		color: white;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
		.pageCardText {
			color: var(--ifm-color-primary);
		}
	}

}


.featureSvg {
	filter: none;
}

}