/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


 /* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #12dbff;
	--ifm-color-primary-dark: #00d0f6;
	--ifm-color-primary-darker: #00c5e8;
	--ifm-color-primary-darkest: #00a2bf;
	--ifm-color-primary-light: #2ddfff;
	--ifm-color-primary-lighter: #3be1ff;
	--ifm-color-primary-lightest: #64e7ff;
	
	--ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.3);
}

/*
* Reset the line-number counter for each .prism-code scope
*/
.prism-code {
counter-reset: line-number;
}

/*
* Notice the chained .language-ts class name to .prism-code
* You can chain more languages in order to add line numbers
*/
*[line-numbers="true"] .prism-code[class*=language-] .token-line::before {
	counter-increment: line-number;
	content: counter(line-number);
	margin-right: calc(var(--ifm-pre-padding) * 1.5);
	text-align: right;
	min-width: 1.5rem;
	display: inline-block;
	opacity: .3;
	position: sticky;
	left: var(--ifm-pre-padding);
}