/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

 /* You can override the default Infima variables here. */
:root {
	--ifm-color-primary:			#003082;
	--ifm-color-primary-dark:		#002b75;
	--ifm-color-primary-darker:		#00296e;
	--ifm-color-primary-darkest:	#00225b;
	--ifm-color-primary-light:		#00358f;
	--ifm-color-primary-lighter:	#003796;
	--ifm-color-primary-lightest:	#003ea9;

	--ifm-table-cell-padding: 0.25rem 0.75rem;

	--ifm-code-font-size: 95%;
	font-variant-ligatures: none;
	--font-inter: "Inter", "Segoe UI", "Open Sans", "Helvetica Neue", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

footer.footer--dark a {
	--ifm-link-color: #00d0f6;
}

html[data-theme='dark']
{
	--ifm-color-primary:			#12dbff;
	--ifm-color-primary-dark:		#00d0f6;
	--ifm-color-primary-darker:		#00c5e8;
	--ifm-color-primary-darkest:	#00a2bf;
	--ifm-color-primary-light:		#2ddfff;
	--ifm-color-primary-lighter:	#3be1ff;
	--ifm-color-primary-lightest:	#64e7ff;
}

table {
	display: table;
	margin: 0 auto;
	min-width: 50%;
	table-layout: unset;
}

table {
    border-collapse:separate;
    border-radius:6px;
	border: 2px solid rgba(gray, 0.4);
}

@import './Code.scss';
@import './Logos.scss';
@import './Navbar.scss';
@import './Sidebar.scss';
@import './Tabs.scss';
@import './Text.scss';
@import './InlineAdmonitions.scss';
