@keyframes fadeOut {
	from {
		user-select: unset;
		opacity: 1;
		z-index: unset;
	}
	to {
		user-select: none;
		opacity: 0;
		z-index: -999;
	}
}
@keyframes fadeIn {
	from {
		user-select: none;
		opacity: 0;
		z-index: -999;
	}
	to {
		user-select: unset;
		opacity: 1;
		z-index: unset;
	}
}

@keyframes fadeOutBackground {
	from {
		background: var(--bgc);
	}
	to {
		background: none;
	}
}
@keyframes fadeInBackground {
	from {
		background: none;
	}
	to {
		background: var(--bgc);
	}
}


.navbar {
	--bgc: rgba(255, 255, 255, 0.95);

	background: var(--bgc);

	&[class*="scrolled"].navbar__inner>div.navbar__items:not(.navbar__items--right) {
		animation: fadeIn 0.2s forwards;
	}
}

html[data-theme='dark'] .navbar {
	--bgc: rgba(0,0,0, 0.9);
}

@media screen and (min-width: 997px) {

html {
	div[class*="colorModeToggle"] {
		button:hover {
			background-color: rgba(126,126,126,0.6);
		}
	}

	// Is at the home page?
	&:not([class*="docs-version-"]):not([class*="plugin-blog"]):not([class*="plugin-docs"]) {

		// Is at top?
		&[data-scroll="0"] {
			.navbar:not([class*="navbar-sidebar--show"]) {
				div[class*="colorModeToggle"] {
					button:hover {
						background-color: rgba(0,0,0,0.6);
					}
					path {
						fill: white !important;
					}
				}
	
				.navbar__link {
					color: white;
		
					&:hover {
						color: #12dbff;
					}
				}
		
				// Fade out animation
				&[class*="scrolled"] {
					animation: fadeOutBackground 0.2s forwards;
	
					>.navbar__inner {
						>div.navbar__items:not(.navbar__items--right) {
							animation: fadeOut 0.2s forwards;
						}
					}
				}
			}
		}

		// Not at the top?
		&:not([data-scroll="0"]) {
			.navbar[class*="scrolled"] {
				animation: fadeInBackground 0.2s forwards;

				.navbar__items:not(.navbar__items--right) {					
					animation: fadeIn 0.2s forwards;
				}
			}
		}
		
		.navbar:not([class*="navbar-sidebar--show"]) {
			background: none;
			border: none;
			box-shadow: none;
			// transition: 0;
			// opacity: 0;

			>.navbar__inner {
				>div.navbar__items:not(.navbar__items--right) {
					opacity: 0;
				}

				>div.navbar__items--right {
					margin-left: auto;
				}
			}
		}
	}
}

}	
