.className {
	font-family: "Jetbrains Mono", Consolas, monospace;
	display: flex;
	align-content: center;
}

.namespaceList {
	background-color: rgba(blue, 0.1);
	padding: 5px 5px;
	margin-right: 5px;
	font-size: 70%;
	vertical-align: middle;
}

.meta {

	td {
		padding: 5px 10px;
	}
	td:not(:first-child) {
		min-width: 250px;
	}
}