.staticTag {
	color: grey;
	background-color: rgba(grey, 0.1);
	padding: 3px;
	padding-bottom: 2px;
	padding-top: 0px;
	border-radius: 3px;
	border: 1px;
	border-style: none solid none;
	border-color: grey;
	line-height: 100%;	
}