.syntaxTable {
	margin-bottom: 10px;
	width: 100%;
	border: none;
	display: block;
	table-layout: fixed;
    border-collapse: collapse;

    tr, td, th {
        border: none;
    }

	.directive {
		font-family: "Jetbrains Mono", Consolas, monospace;
		small {
			font-size: 60%;
		}
	}

	.args {
		width: 50vw;
	}

	.argument {
		color: gray;
		display: inline-block;
	}

	.id {
		display: inline-block;
		&:not(:empty){
			color: white;
			background-color: rgba(255, 255, 255, 0.05);
    		border-radius: 50%;
		}
	}
}