.Thumbnail {
	position:	relative;
	cursor:		pointer;
	padding:	10px 15px;
	margin-top: 10px;
	border: 1px solid gray;
	box-sizing: border-box;
	img {
		padding-bottom:	0;
		display:		block;
	}
	.ThumbnailIcon {
		position:		absolute;
		top:			50%;
		left:			50%;
		transform:		translate(-50%, -50%);
		color:			white;
		background:		rgba(white, 0.4);
		padding:		5%;
		border-radius:	50%;
		opacity:		.7;
		z-index:		1000;
		margin:			0;

		transition:		0.5s;

		pointer-events: none;
	}
	&:hover {
		.ThumbnailIcon {
			transform: translate(-50%, -50%) scale(120%);
		}
	}
}