.markedText {
	border-radius: 4px;
	padding: 2px;
	padding-bottom: 5px;
	line-height: 200%;

	border: 1px dashed;
}

.markedText.since {
	border-color: rgba(green, 0.8);
	background-color: rgba(green, 0.02);
}

.markedText.until {
	border-color: rgba(red, 0.4);
	background-color: rgba(red, 0.02);
}

.markedText.deprecated {
	border-color: rgba(orange, 0.8);
	background-color: rgba(gray, 0.02);
}

.markedText.removed {
	border-color: rgba(red, 1);
	background-color: rgba(red, 0.15);
}

.markedText.version {
	border-color: rgba(green, 1);
	background-color: rgba(green, 0.1);
	padding-bottom: 3px;
}


.versionNumber {
	background-color: rgba(black, 0.1);
}

html[data-theme="dark"] {
	.versionNumber {
		background-color: rgba(white, 0.1);
	}
}
